doctype html
html
  head
    title SmartHive-Gyroscope
    meta(charset='utf-8')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
    script(type='text/javascript', src='http://www.html5canvastutorials.com/libraries/three.min.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(href='stylesheets/layout.css', rel='stylesheet', type='text/css', media='all')
  body#top
    .wrapper.row1
      header#header.hoc.clear
        #logo.fl_left
          h1(style='cursor: pointer; cursor: hand;')
            a#home SmartHive-Gyroscope readings
    .wrapper.row2(style='height:100%;')
      nav.navbar.navbar-inverse#mainav.hoc.clear
        .container-fluid
          ul.nav.navbar-nav(style='height:100%; display:inline-block; height:100%;')
            li(style='cursor: pointer; cursor: hand;')
              a(href='/home') Home
            li(style='cursor: pointer; cursor: hand;')
              a#temp Temperature
            li(style='cursor: pointer; cursor: hand;')
              a#humidity Humidity
            li(style='cursor: pointer; cursor: hand;')
              a#weight Weight
            li.active(style='cursor: pointer; cursor: hand;')
              a#gyro Gyroscope
    .wrapper.row3
      main.hoc.container.clear(styles='width:100%;')
        .sidebar.four_quarter.first(styles='width:30%;')
          table
            tr
              th(colspan='4')  Gyroscope Readings
            tr
              td(style='width:50%;') Gyroscope X:(Current Angle)
              td(style='width:50%;')
                span#gyrX  
            tr
              td(style='width:50%;') Gyroscope Y:(Current Angle)
              td(style='width:50%;')
                span#gyrY  
            tr
              td(style='width:50%;') Gyroscope Y:(Current Angle)
              td(style='width:50%;')
                span#gyrZ  
          p
            | Note: Sensor accuracy at current configuration can have a difference of 5 degree, calibration is needed.
          p
            | Note: Sensor takes the angle it was turned on at as 0 degree, make sure that everything is leveled before turning system on.
          br

        .clear
    .wrapper.row5
      #copyright.hoc.clear
        p.fl_left
          | Copyright © 2015 - All Rights Reserved -
          a(href='#') www.SmartHive.tssg.org
    script(type='text/javascript', src='javascripts/accelerometerData.js')
    script(type='text/javascript', src='javascripts/gyroscopeData.js')
